lib/tpl/templates_c/
Jim's book corner.PHPEditProject
.DS_Store
.geanyprj

lib/Params.ini.php
.idea/.name
.idea/Jim-s--book-corner.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
